---
// components
import Section from "../../elements/Section.astro";
import Text from "../../elements/Text.astro";
---

<Section 
    aria-label="Biography"
    title="Biography"
    titleHeading="Developer. Digitalizer. Backend Enthusiast."
>
    <Text variant={'normal'} class="text-base-400">Hi, I’m Muhammad Boby Pratama — an Information Systems undergraduate at UPN "Veteran" Jakarta with hands-on experience in software development, business process digitalization, and web application development.</Text>
    <Text variant={'normal'} class="text-base-400">I am proficient in developing business applications using Laravel, Express.js, and Python-based frameworks, with strong foundations in database management, RESTful APIs, system testing, and user support. I have experience collaborating with technical and non-technical stakeholders to translate business requirements into practical digital solutions, and I am passionate about leveraging technology to streamline operational processes and improve organizational efficiency.</Text>
</Section>